.content{
	width:400px;
	height:550px;
	border:1px solid #eeeeee;
	font-size: 16px;
	margin:0 auto;
}
.identification-content{
	height:180px;
	padding:20px;
	box-sizing: border-box;
	border-bottom:1px solid #eeeeee;
}
h2{
	font-size: 20px;
	margin:0 20px 20px 0;
}
span{
	font-size: 16px;
}
.identification{
	width:180px;
	height:30px;
	padding-left:5px;
	border:1px solid #cccccc;
	font-size: 14px;
}
button{
	margin-top:20px;
	width:100px;
	height:30px;
	background:rgba(222,222,222,0.7);
	cursor:pointer;
	box-shadow: 0 0 20px #eeeeee;
}
#but{
	float:right;
	margin-right:50px;
}
.result{
	padding:20px;
}
.result-cl{
	width:300px;
	height:40px;
	line-height: 40px;
	margin:5px 0;
	border:1px solid #cdcdcd;
	display: flex;
	justify-content: flex-start;
}
.result-cl p:first-child{
	width:80px;
	border-right:1px solid #cdcdcd;
	padding-left:10px;
	font-size: 14px;
}
.result-cl p:last-child{
	width:220px;
	padding-left:10px;
	font-size: 14px;
}
.red-act{
	border:1px solid red;
	font-size:12px;
	color:red;
}
.focus{
	padding-left:20px;
	font-size: 12px;
	color:#cccccc;
}
.predes_cl{
	color:green;
	display: inline-block;
	margin:0 5px;
	font-size: 14px;
}
